@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Lato', sans-serif; /* Set the global font */
    margin: 0;
    padding: 0;
    line-height: 1.6; /* Optional: Improve readability */
}

* {
    box-sizing: border-box; /* Optional: Consistent box sizing */
}

.evil-purple-glow {
  background-color: #631269;
  color: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
  animation: subtle-pulse 7s infinite;
}

.evil-purple-glow::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 150%;
  height: 150%;
  background: linear-gradient(90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(224, 159, 255, 0.5) 50%, /* Lower opacity */
    rgba(255, 255, 255, 0) 100%
  );
  animation: subtle-gleam 6s linear infinite; /* Slower animation */
}

@keyframes subtle-pulse {
  0%, 100% {
    box-shadow: 0 0 6px 3px rgba(128, 0, 128, 0.2); /* Reduced intensity */
  }
  50% {
    box-shadow: 0 0 10px 5px rgba(128, 0, 128, 0.3);
  }
}

@keyframes subtle-gleam {
  0% {
    transform: translateX(-100%) skew(-45deg);
  }
  100% {
    transform: translateX(100%) skew(-45deg);
  }
}
